<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="first.css">
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html"> Amazona</a>
            </div>

            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin">Sign In</a>
            </div>
        </header>

        <main>
            <div class="card" style="width: 18rem;">
                <img src="/Template/d1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <ul class="products ">
                        <li>
                            <div class="product  ">
                              
                                <div class="product-name"><a href="product.html">Slim shirt</a></div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$50</div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
              </div>
        </main>
    </div>
    
</body>
</html>