<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazona</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fontawe/css/font-awesome.min.css">
 
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
               <button onclick="openMenu()" class="brand-button">
                   &#9776;
               </button> 
                <a href="index.html"> Amazona</a>
            </div>

            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin">Sign In</a>
            </div>
        </header>

        <aside class="sidebar" style="color: white;">
            <h3>Shopping Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()"><i class="fa fa-times"></i></button>
            <ul >
                <li><a href="index.html">Pizza</a></li>
                <li><a href="index.html">Cakes</a></li>
            </ul>
        </aside>

       

        <main class="main ">
            <div class="content ">
                <ul class="products ">
                    <li>
                        <div class="product">
                            <img class="product-image" src="tomato-pizza.jpg" alt=""/>
                            <div class="product-name"><a href="product.html">tomato-pizza</a></div>
                          
                            <div class="product-price">$50</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="tomato-pizza.jpg" alt=""/>
                            <div class="product-name"><a href="product.html">tomato-pizza</a></div>
                          
                            <div class="product-price">$50</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="tomato-pizza.jpg" alt=""/>
                            <div class="product-name"><a href="product.html">tomato-pizza</a></div>
                          
                            <div class="product-price">$50</div>
                        </div>
                    </li>

                    

                   
                </ul>
            </div>

        </main>

        <footer class="footer">
            All rights reserved.
        </footer>
    </div>

    <script>
    function openMenu(){
        document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu(){
        document.querySelector(".sidebar").classList.remove("open");
    }
    </script>
</body>
</html>